---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      Aquí comparto lo que aprendo, lo que construyo y lo que me cuestiono.
Desde líneas de código, hasta reflexiones sobre el trabajo, la vida y el aprendizaje constante.
    </p>
    <p>
      Este no es un blog de gurús. Es un espacio real, escrito por alguien que escribe código, toma decisiones técnicas y también se equivoca.
    </p>
    <p>
      Porque al final, todo buen proyecto —personal o profesional— empieza con una idea y muchas ganas de entender el mundo.
      </p>

<p>Explora mis publicaciones, mis proyectos y un poco de todo lo demás.
    </p>
  </main>
</Layout>
